

#header 
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #C26868;
	z-index: 1000;
	margin: 0;
	box-shadow: 5px 5px 20px black;

}

#footer 
{
	position: absolute;
	right: 0;
	top: 100px;
	padding: 0;
	text-align: right;
}

#image 
{
	max-width: 35%;
	margin: auto;
	height: auto;
}

#logoMini 
{
	height: 80px;
	padding: 10px;
}

#icon 
{
	border-radius: 50%;
	color: #d4d4efb8;
}

#sectTitle 
{
	font: sans-serif;
	text-align: center;
	color: #d4d4efb8;
}

#sectBody
{
	padding: 1%;
}

#link
{
	color: #ab8585fa;
}
#ulSpec 
{
	padding: 15px;
}

body 
{
	background-color: #4C5364;
	color: #ab8585fa;
	text-align: center;
	margin: 0.5%;
	margin-top: 8%;
}

a
{
	color: #fafafa;
}

p 
{
	text-align: center;
}

h1 
{
	text-align: center;
}

h4
{
	text-align: left;
}

hr 
{
	border-color: #d4d4ef;
}

ul 
{
	text-align: left;
	list-style-type: none;
	padding: 0;
}

em 
{
	color: white;
}
